* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 500px;
    border: 3px solid brown;
    background-color: yellow;

    display: flex;
}

.box {
    margin: 30px;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: aqua;
    text-align: center;

    /* transition: transform 3s ease 2s;
    transition: background-color transform 4s ease 1s; */

    transition: all 5s ease-in 1s;

}

.box:hover {

    background-color: red;
    transform: translateX(500px) rotate(360deg);
    
}
